@import url("https://fonts.googleapis.com/css2?family=Asap:wght@600&family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
:root {
	font-family: Arial, Helvetica, sans-serif;
}

pre {
	display: inline;
	font-size: 18px;
}
